*{
    margin: 0;
    padding: 0;
}

#Git {
width: 30px;
height: 30px;

}


img {
    box-shadow: 7px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

#Git2 {
    width: 20px;
    height: 20px;
    
    }
#color{
    background-color:#BF3604;
}

